body {
  background-color: rgb(220, 255, 215);
  margin: 0;
  font-family: Arial;
  color:white;
  height: 2000px;
}
header {
  background-color: rgb(1, 126, 49);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.start-header {
  height: 100%;
  display: flex;
  align-items: center;
}
.start-header img{
  height: 45px;
  width: 45px;
}
.start-header p{
  font-size: 20px;
  font-weight: 600;
  padding-right: 16px;
  cursor: pointer;
  transition: color .5s;
}

.mid-header {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(45, 150, 85);
  padding: 0 40px;
  margin-right: 110px;
  border-radius: 25px;
  transition: padding .5s;
}
.mid-header:hover {
  padding: 0 80px;
}
.mid-header img{
  height: 50px;
}

.end-header {
  height: 50px;
  opacity: .5;
  margin-right: 10px;
  transition: opacity .3s;
}
.end-header:hover {
  opacity: .8;
}

main {
  padding-top: 50px;
}
.intro {
  margin-top: 50px;
}
.intro p{
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  font-family: 'Times New Roman', arial;
}
.welcome {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  
}
.world {
  margin-left: 10px;
  transition: color .5s;
  display: flex;
  align-items: center;
  position: relative;
  color: black;
}
.emoji {
  position: absolute; 
  z-index: -1;
  opacity: 0;
}
.world .emoji {
  right: 0;
  transition: opacity .5s, right .5s;
}
.world:hover {
  color: rgb(0, 179, 255);
}
.world:hover .emoji{
  right: -60px;
  opacity: 100;
}
.of {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  padding-top: 10px;
}


.chess {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-weight: 600;
  font-family: 'Times New Roman';
}
.chess p {
  transition: all .5s;
  background-clip: text;
  -webkit-background-clip: text;
}
.chess p:hover {
  background-image: url(/images/chess-bg.jpg);
  background-size: cover;
  color: transparent;
  
  scale: 110%;
}